<!doctype html>
<html lang="en">
<%- include('../partials/head', {title: "Home" }); %>

  <body>
    <h1>Index</h1>
    <a href="/about">Go to About</a>
    <%- include('../partials/script'); %>
  </body>

</html>